<script lang="ts">
import { ref } from 'vue'
import LoadingIcon from '@/components/icons/LoadingIcon.vue'
import type { ProductCard } from './ProductCard.contracts'
import { productProps } from './ProductCard.contracts'

export default {
  name: 'ProductCard',
  components: { LoadingIcon },
  props: productProps,
  setup (props: ProductCard) {
    const isLoading = ref(false)

    const buyProduct = async () => {
      isLoading.value = true

      const response = props.cbAddProduct(props.sku)

      if (!response) {
        isLoading.value = false
        return
      }

      if (typeof response === 'object' && typeof response.then === 'function') {
        response.then()
          .catch((e) => {
            console.log(e)
          })
          .finally(() => {
            isLoading.value = false
          })
      }

    }
    return {
      isLoading,
      buyProduct
    }
  }
}
</script>

<template>
  <div class="product-card">
    <div>
      <img
        :src="$props.image.url"
        class="" :alt="$props.image.alt">

      <p>sku: {{ $props.sku }}</p>

      <h5>{{ $props.title }}</h5>

    </div>

    <div>
      <p class="">{{ $props.finalPrice.gross }} zł</p>

      <button :disabled="$props.disabled" @click="buyProduct" class="btn btn-primary w-100">
        <LoadingIcon class="icon --loading" v-if="isLoading" />

        <span v-else>Buy</span>
      </button>
    </div>
  </div>
</template>

<style lang="scss">
.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
</style>
