<script lang="ts">
import TrashIcon from '@/components/icons/TrashIcon.vue'
import CartItem from '@/components/Molecules/CartItem/CartItem.vue'
import { computed, ref } from 'vue'
import { useCartStore } from '@/stores/cart/cart'
import type { CartItemI } from '@/shared_contracts/cart/cart'
import { ROUTE_NAME_CART } from '@/router'
import { useDrawerStore } from '@/stores/drawer/drawer'

export default {
  name: 'CartDrawer',
  components: { CartItem },
  setup () {
    const cartStore = useCartStore()
    const drawerStore = useDrawerStore()
    const cartItems = computed<CartItemI[]>(() => {
      return cartStore.cart.items
    })

    const closeCartDrawer = () => {
      drawerStore.closeDrawer()
    }

    const isCartItemDisabled = ref(false)

    const isDeletingCartItem = (value: boolean) => {
      isCartItemDisabled.value = value
    }
    return {
      cartItems,
      ROUTE_NAME_CART,
      closeCartDrawer,
      isDeletingCartItem,
      isCartItemDisabled
    }
  }
}
</script>
<template>
  <div class="cart-drawer">
    <div class="cart-drawer__items-wrapper">
      <CartItem v-for="cartItem of cartItems" v-bind="cartItem" :key="cartItem.id"
                @isDeletingCartItem="isDeletingCartItem" :isDisabled="isCartItemDisabled" />
    </div>

    <div class="cart-drawer__actions">
      <router-link @click="closeCartDrawer" :to="{name:ROUTE_NAME_CART}" class="btn btn-primary">
        Go to cart
      </router-link>
    </div>
  </div>
</template>

<style lang="scss">
.cart-drawer {
  display: flex;
  flex-direction: column;

  &__items-wrapper {
    // 78px - header, 60px - actions class
    height: calc(100vh - 60px - 78px);
    padding: 1rem;
    overflow-y: scroll;

    .cart-item:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__actions {
    height: 60px;

    button, a {
      width: 100%;
      border-radius: unset;
      height: 100%;
      padding: unset;
      line-height: 60px;
    }
  }
}
</style>
