<script lang="ts">
import { useProduct } from '@/hooks/useProducts/useProduct'
import type { ProductI } from '@/shared_contracts/product/product'
import TrashIcon from '@/components/icons/TrashIcon.vue'
import { useCart } from '@/hooks/cart'
import LoadingIcon from '@/components/icons/LoadingIcon.vue'
import type { CartItemProps } from '@/components/Molecules/CartItem/CartItem.contracts'
import { cartItemProps } from '@/components/Molecules/CartItem/CartItem.contracts'
import type { SetupContext } from 'vue'
import { ref, watch } from 'vue'

export default {
  name: 'CartItem',
  emits: ['isDeletingCartItem'],
  components: {
    LoadingIcon,
    TrashIcon
  },
  props: cartItemProps,
  setup (props: CartItemProps, ctx: SetupContext) {
    // hookProduct
    const hookUseProduct = useProduct<ProductI[]>()
    const products = ref<ProductI[]>([])
    const cartStore = useCart()
    const isDeleting = ref(false)
    hookUseProduct.getProducts().then((res) => {
      // const cartProducts = res.filter((product: ProductI) =>
      //   cartStore.cart.items.find(cartItem=>cartItem.id))
      products.value.push(...res)
    })
      .catch((e) => {
        console.log('e')
        console.log(e)
      })


    const removeCartItem = async (cartItemSku: string) => {
      isDeleting.value = true
      ctx.emit('isDeletingCartItem', isDeleting.value)
      cartStore.removeFromCart({ productSku: cartItemSku })
      //   .finally(() => {
      isDeleting.value = false
      ctx.emit('isDeletingCartItem', isDeleting.value)
      // })
    }

    return {
      cartItem: {
        id: props.id,
        quantity: props.quantity,
        createdAt: props.createdAt,
        product: props.product
      },
      isDeleting,
      removeCartItem
    }
  }
}
</script>
<template>
  <div class="cart-item">
    <div class="cart-item__content-wrapper">
      <img class="cart-item__image" :src="cartItem.product.image.url"
           :alt="cartItem.product.image.alt">

      <div class="cart-item__description-wrapper">
        <h2 class="cart-item__title">{{ cartItem.product.title }}</h2>

        <p>{{ $filters.currency(cartItem.product.finalPrice.gross) }} x {{ cartItem.quantity }}</p>
      </div>
    </div>

    <div class="cart-item__actions">

      <button v-if="hasActions" @click="removeCartItem(cartItem.product.sku)"
              :disabled="$props.isDisabled">
        <LoadingIcon v-if="isDeleting" class="icon --loading" />

        <TrashIcon v-else class="icon" />
      </button>

    </div>
  </div>
</template>

<style lang="scss">
.cart-item {
  display: flex;
  justify-content: space-between;

  &__content-wrapper {
    display: flex;
  }

  &__image {
    width: 100px;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
  }

  &__title {
    font-size: 1rem;
  }

  &__actions {
    button {
      border: unset;
      background-color: unset;
    }
  }
}
</style>
