<script lang="ts">
import CartItem from '@/components/Molecules/CartItem/CartItem.vue'
import { useCartStore } from '@/stores/cart/cart'
import { computed } from 'vue'
import type { CartItemI } from '@/shared_contracts/cart/cart'
import { ROUTE_NAME_CHECKOUT } from '@/router'
import PaymentSummary from '@/components/Molecules/PaymentSummary/PaymentSummary.vue'

export default {
  name: 'CartView',
  components: { CartItem, PaymentSummary },
  setup () {
    const cartStore = useCartStore()

    const cartItems = computed<CartItemI[]>(() => {
      return cartStore.cart.items
    })

    return {
      cartItems,
      cartStore,
      ROUTE_NAME_CHECKOUT
    }
  }
}

</script>

<template>
  <main class="container">
    <div class="row">
      <h1 class="col-12 mt-3">
        Cart
      </h1>

      <div class="col-6 mt-5">
        <CartItem v-for="cartItem of cartItems" v-bind="cartItem" />
      </div>

      <div class="col-6 mt-5">
        <PaymentSummary />

        <div>
          <router-link :to="{name:ROUTE_NAME_CHECKOUT}" class="btn btn-primary w-100 mt-5">
            Go to checkout
          </router-link>
        </div>
      </div>
    </div>
  </main>
</template>
