<script lang="ts">
import { useBackdropStore } from '@/stores/backdrop'
import { computed, ref, watch } from 'vue'
import type {
  BillingAddressI,
  CompanyAddressI, DeliverMethodI, PaymentMethodI,
  ShippingAddressI
} from '@/shared_contracts/cart/cart'
import BaseInput from '@/components/Atoms/BaseInput/BaseInput.vue'
import type { CartItemI } from '@/shared_contracts/cart/cart'
import { useCartStore } from '@/stores/cart/cart'
import CartItem from '@/components/Molecules/CartItem/CartItem.vue'
import PaymentSummary from '@/components/Molecules/PaymentSummary/PaymentSummary.vue'

export default {
  components: { BaseInput, CartItem, PaymentSummary },
  setup () {
    const backdropStore = useBackdropStore()

    const goToDeliveryStep = () => {
      console.log('goToDeliveryStep')
      backdropStore.activateBackdrop()
      isFinishedBillingStep.value = true
    }

    const countries = ref([
      { label: 'Polska', value: 'polska' },
      { label: 'Niemcy', value: 'niemcy' },
      { label: 'Słowacja', value: 'słowacja' },
      { label: 'Francja', value: 'francja' },
      { label: 'Czechy', value: 'czechy' }
    ])

    const regions = ref([
      { label: 'Dolnośląskie', value: 'dolnośląskie' },
      { label: 'kujawsko-pomorskie', value: 'kujawsko-pomorskie' },
      { label: 'Lubelskie', value: 'lubelskie' },
      { label: 'Mazowieckie', value: 'mazowieckie' },
      { label: 'Małopolskie', value: 'małopolskie' }
    ])

    const billingAddress = ref<BillingAddressI>({
      firstName: 'Wojciech',
      lastName: 'Falkowski',
      email: 'wojtexfalkowski@gmail.com',
      phoneNumber: '698444030',
      region: 'mazowieckie',
      country: 'polska',
      address: 'Kwiatowa 5/7 m.122',
      postcode: '02-206',
      city: 'Warszawa'
    })

    const shippingAddress = ref<ShippingAddressI>({
      firstName: '',
      lastName: '',
      email: '',
      phoneNumber: '',
      region: '',
      country: '',
      address: '',
      postcode: '',
      city: ''
    })

    const companyAddress = ref<CompanyAddressI>({
      name: '',
      taxNumber: ''
    })

    const hasInvoice = ref(false)

    const isSameShippingAddress = ref(true)

    const isFinishedBillingStep = ref(false)

    const resetBillingStep = () => {
      isFinishedBillingStep.value = false
      resetDeliveryStep()
      resetPaymentStep()
    }

    const editBillingStep = () => {
      resetBillingStep()
    }

    const deliveryMethods = ref<DeliverMethodI[]>([
      {
        label: 'InPost Paczkomaty 24/7',
        price: {
          gross: 15,
          net: 11.55
        },
        iconName: 'inpost',
        value: 'inpost'
      },
      {
        label: 'DHL Kurier',
        price: {
          gross: 18,
          net: 13.86
        },
        iconName: 'dhl',
        value: 'dhl'
      }
    ])

    const chosenDeliveryMethodValue = ref()//deliveryMethods.value[0].value

    const chosenDeliveryMethod = computed<DeliverMethodI>(() => {
      const deliveryMethod = deliveryMethods.value.find(deliveryMethod => deliveryMethod.value ===
        chosenDeliveryMethodValue.value)

      if (!deliveryMethod) {
        return {
          label: '',
          price: {
            gross: 0,
            net: 0
          },
          iconName: '',
          value: ''
        }
      }

      return deliveryMethod
    })

    const isFinishedDeliveryStep = ref(false)

    const resetDeliveryStep = () => {
      isFinishedDeliveryStep.value = false
    }

    const editDeliveryStep = () => {
      resetDeliveryStep()
      resetPaymentStep()
    }

    const goToPaymentStep = () => {
      console.log('goToPaymentStep', chosenDeliveryMethodValue.value)
      // todo billingAddress check all fields
      if (!chosenDeliveryMethodValue.value || !billingAddress) {
        return
      }
      backdropStore.activateBackdrop()
      isFinishedDeliveryStep.value = true
    }

    const paymentMethods = ref<PaymentMethodI[]>([
      {
        label: 'paynow.pl',
        value: 'paynow',
        iconName: 'paynow'
      },
      {
        label: 'Płatność przy odbiorze',
        value: 'cashOnDelivery',
        iconName: 'cashOnDelivery'
      },
      {
        label: 'Bank transfer',
        value: 'bankTransfer',
        iconName: 'bankTransfer'
      }
    ])

    const chosenPaymentMethodValue = ref()

    const chosenPaymentMethod = computed<PaymentMethodI>(() => {
      const paymentMethod = paymentMethods.value.find(paymentMethod => paymentMethod.value ===
        chosenPaymentMethodValue.value)

      if (!paymentMethod) {
        return {
          label: 'a',
          value: '',
          iconName: ''
        }
      }

      return paymentMethod
    })

    const isFinishedPaymentStep = ref(false)

    watch(chosenPaymentMethodValue, (value) => {
      if (value) {
        backdropStore.activateBackdrop()
        isFinishedPaymentStep.value = true
      }
    })

    const resetPaymentStep = () => {
      isFinishedPaymentStep.value = false
    }

    const editPaymentStep = () => {
      resetPaymentStep()
    }

    // todo -> check first and second step
    // todo -> maybe add validation package??
    // todo -> in third step isFinishedPaymentStep only if chosenPaymentMethodValue is not empty
    // todo -> create right site on checkout
    const cartStore = useCartStore()

    const cartItems = computed<CartItemI[]>(() => {
      return cartStore.cart.items
    })

    const isCartItemDisabled = ref(false)

    const isDeletingCartItem = (value: boolean) => {
      isCartItemDisabled.value = value
    }

    const isReadyToPay = computed(() => {
      return isFinishedBillingStep.value && isFinishedDeliveryStep.value && isFinishedPaymentStep.value
    })

    const pay = () => {
      console.log('pay')
    }

    return {
      goToDeliveryStep,
      goToPaymentStep,
      billingAddress,
      countries,
      regions,
      hasInvoice,
      companyAddress,
      isSameShippingAddress,
      shippingAddress,
      isFinishedBillingStep,
      editBillingStep,
      deliveryMethods,
      chosenDeliveryMethodValue,
      isFinishedDeliveryStep,
      chosenDeliveryMethod,
      editDeliveryStep,
      paymentMethods,
      chosenPaymentMethodValue,
      chosenPaymentMethod,
      isFinishedPaymentStep,
      editPaymentStep,
      cartItems,
      isDeletingCartItem,
      isCartItemDisabled,
      isReadyToPay,
      pay
    }
  }
}

</script>

<template>
  <main class="container">
    <div class="row mt-3">
      <div class="col-6">
        <!--        Component billing/shipping address-->
        <div class="row">
          <div class="step-label">
            <h2> 1. Billing details</h2>
          </div>

          <div v-if="!isFinishedBillingStep" class="col-12 mt-3">
            <div class="row">
              <div class="col-12 col-md-6 mt-3 mt-lg-0">
                <BaseInput v-model="billingAddress.firstName" label="First name" name="First name"
                           data-title="First name is required." />
              </div>


              <div class="col-12 col-md-6 mt-3 mt-lg-0">
                <BaseInput v-model="billingAddress.lastName" label="Last name" name="Last name"
                           data-title="Second name is required." />
              </div>

              <div class="col-12 mt-3">
                <BaseInput v-model="billingAddress.email"
                           label="Your email" name="email"
                           type="email" data-title="E-mail address is required." />
              </div>

              <div class="col-12 mt-3">
                <BaseInput v-model="billingAddress.phoneNumber"
                           label="Your phone number" name="phone"
                           type="tel" data-title="E-mail address is required." />
              </div>

              <div class="col-12 col-md-12 mt-3">
                <div class="form-floating">
                  <select id="countrySelect" v-model="billingAddress.country" class="form-select"
                          aria-label="Country">
                    <option v-for="country in countries" :value="country.value"
                            :key="country.value">
                      {{ country.label }}
                    </option>
                  </select>

                  <label for="countrySelect">
                    Country
                  </label>
                </div>

                <div class="form-floating">
                  <select id="regionSelect" v-model="billingAddress.region"
                          class="form-select mt-3"
                          aria-label="Region" :class="billingAddress.region?'':'--empty'">
                    <option v-for="region in regions" :value="region.value" :key="region.value">
                      {{ region.label }}
                    </option>
                  </select>

                  <label for="regionSelect">
                    Region
                  </label>
                </div>
              </div>

              <div class="col-12 mt-3">
                <BaseInput v-model="billingAddress.address"
                           label="Your address" name="address"
                           data-title="Address is required." />
              </div>

              <div class="col-5 col-md-4 mt-3">
                <BaseInput v-model="billingAddress.postcode"
                           label="Postcode" name="postcode"
                           data-title="Postcode is required." />
              </div>

              <div class="col-7 col-md-8 mt-3">
                <BaseInput v-model="billingAddress.city"
                           label="City" name="city"
                           data-title="City is required." />
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="form-check">
                <input v-model="hasInvoice" class="form-check-input" type="checkbox"
                       id="invoiceCheckbox">
                <label class="form-check-label" for="invoiceCheckbox">
                  I need VAT Invoice
                </label>
              </div>
            </div>

            <div v-if="hasInvoice" class="col-12 mt-3">
              <div class="row">
                <div class="col-12 col-md-6 mt-3 mt-lg-0">
                  <BaseInput v-model="companyAddress.name" label="Company name" name="Company name"
                             data-title="Comapny name is required." />
                </div>


                <div class="col-12 col-md-6 mt-3 mt-lg-0">
                  <BaseInput v-model="companyAddress.taxNumber" label="Tax number" name="Tax number"
                             data-title="Tax number is required." />
                </div>
              </div>
            </div>

            <div class="col-12 mt-3">
              <h2 class="mt-5">
                Shipping details
              </h2>

              <div class="form-check mt-3">

                <input v-model="isSameShippingAddress" class="form-check-input" type="checkbox"
                       id="sameShippingAddressCheckbox">
                <label class="form-check-label" for="sameShippingAddressCheckbox">
                  Same as billing
                </label>
              </div>
            </div>

            <div v-if="!isSameShippingAddress" class="col-12 mt-3">
              <div class="row">
                <div class="col-12 col-md-12 mt-3">
                  <div class="form-floating">
                    <select id="countryShippingSelect" v-model="shippingAddress.country"
                            class="form-select"
                            aria-label="Country">
                      <option v-for="country in countries" :value="country.value"
                              :key="country.value">
                        {{ country.label }}
                      </option>
                    </select>

                    <label for="countryShippingSelect">
                      Country
                    </label>
                  </div>

                  <div class="form-floating">
                    <select id="regionShippingSelect" v-model="shippingAddress.region"
                            class="form-select mt-3"
                            aria-label="Region" :class="shippingAddress.region?'':'--empty'">
                      <option v-for="region in regions" :value="region.value" :key="region.value">
                        {{ region.label }}
                      </option>
                    </select>

                    <label for="regionShippingSelect">
                      Region
                    </label>
                  </div>
                </div>

                <div class="col-12 mt-3">
                  <BaseInput v-model="shippingAddress.address"
                             label="Your address" name="address"
                             data-title="Address is required." />
                </div>

                <div class="col-5 col-md-4 mt-3">
                  <BaseInput v-model="shippingAddress.postcode"
                             label="Postcode" name="postcode"
                             data-title="Postcode is required." />
                </div>

                <div class="col-7 col-md-8 mt-3">
                  <BaseInput v-model="shippingAddress.city"
                             label="City" name="city"
                             data-title="City is required." />
                </div>
              </div>
            </div>

            <button @click="goToDeliveryStep" class="btn btn-primary w-100 mt-3">
              Continue
            </button>
          </div>

          <div v-else class="step-details">
            <div>
              <p>
                <span>{{ billingAddress.firstName }}</span>

                <span class="ms-1">{{ billingAddress.lastName }}</span>
              </p>

              <p>
                <span>{{ billingAddress.address }}</span>,

                <span class="ms-1">{{ billingAddress.postcode }}</span>,

                <span class="ms-1">{{ billingAddress.country }}</span>
              </p>

              <p>{{ billingAddress.email }}</p>

              <p>{{ billingAddress.phoneNumber }}</p>
            </div>

            <div>
              <button @click="editBillingStep" class="btn btn-outline-primary">
                Change
              </button>
            </div>
          </div>
        </div>
        <!--       END Component billing/shipping address-->

        <!--        Component delivery-->
        <div class="row">
          <div class="step-label mt-3">
            <h2>2. Wybierz sposób dostawy</h2>
          </div>

          <div v-if="!isFinishedDeliveryStep && isFinishedBillingStep">
            <div v-for="deliveryMethod in deliveryMethods" :key="deliveryMethod.value"
                 class="form-check">
              <input class="form-check-input" type="radio" v-model="chosenDeliveryMethodValue"
                     :value="deliveryMethod.value"
                     :id="deliveryMethod.value">
              <label class="form-check-label" :for="deliveryMethod.value">
                <span>{{ deliveryMethod.label }}</span>

                <!--                TODO filter + currency-->
                <span class="ms-2">{{ deliveryMethod.price.gross }}</span>
              </label>
            </div>

            <button @click="goToPaymentStep" class="btn btn-primary w-100 mt-3"
                    :disabled="!chosenDeliveryMethodValue">
              Continue
            </button>
          </div>

          <div v-if="isFinishedBillingStep && isFinishedDeliveryStep" class="step-details">
            <p>
              <span>{{ chosenDeliveryMethod.label }}</span>

              <!--                TODO filter + currency-->
              <span class="ms-2">{{ chosenDeliveryMethod.price.gross }}</span>
            </p>

            <div>
              <button @click="editDeliveryStep" class="btn btn-outline-primary">
                Change
              </button>
            </div>
          </div>
        </div>
        <!--        END Component delivery-->

        <div class="row">
          <!--        Component payment-->
          <div class="step-label mt-3">
            <h2>3. Wybierz sposób płatności</h2>
          </div>

          <div v-if="isFinishedBillingStep && isFinishedDeliveryStep && !isFinishedPaymentStep">
            <div v-for="paymentMethod in paymentMethods" :key="paymentMethod.value"
                 class="form-check">
              <input class="form-check-input" type="radio" v-model="chosenPaymentMethodValue"
                     :value="paymentMethod.value"
                     :id="paymentMethod.value">
              <label class="form-check-label" :for="paymentMethod.value">
                <span>{{ paymentMethod.label }}</span>
              </label>
            </div>
          </div>

          <div v-if="isFinishedBillingStep && isFinishedDeliveryStep && isFinishedPaymentStep"
               class="step-details">
            <p>
              <span>{{ chosenPaymentMethod.label }}</span>
            </p>

            <div>
              <button @click="editPaymentStep" class="btn btn-outline-primary">
                Change
              </button>
            </div>
          </div>
        </div>
        <!--        END Component payment-->


      </div>

      <div class="col-6">
        <div class="row">
          <h1 class="col-12">
            Your order
          </h1>

          <CartItem class="col-12 mt-5" v-for="cartItem of cartItems" v-bind="cartItem"
                    :key="cartItem.id" :hasActions="false"
                    @isDeletingCartItem="isDeletingCartItem" :isDisabled="isCartItemDisabled" />

          <PaymentSummary class="mt-5" />

          <button @click="pay" class="btn btn-primary mt-5" :disabled="!isReadyToPay">
            Pay now
          </button>
        </div>
        <!--        <div>billingAddress: {{ billingAddress }}</div>-->
        <!--        <div>hasInvoice{{ hasInvoice }}</div>-->
        <!--        <div>shippingAddress: {{ shippingAddress }}</div>-->
        <!--        <div>chosenDeliveryMethodValue: {{ chosenDeliveryMethodValue }}</div>-->

      </div>
    </div>
  </main>
</template>

<style lang="scss">
.step-label {
  padding: 1rem;
  background-color: #F6F7FA;
  margin-bottom: 1rem;
}

.step-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ced4da;
}

select {
  &.--empty {
    opacity: 0.5;
  }
}

.form-floating {
  label {
    opacity: 0.65;
  }
}
</style>
