<script lang="ts">
import ProductList from '@/components/Molecules/ProductList/ProductList.vue'

export default {
  components: { ProductList }
}
</script>
<template>
  <ProductList />
</template>

<style>
</style>
