<script lang="ts">
export default {
  props: {
    modelValue: {
      type: [String, Number],
      required: true
    },
    type: {
      type: String,
      required: false,
      default: 'text'
    },
    label: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    }/*
     validationRules: {
     type: Array,
     required: false,
     default:
     }*/
  },
  setup () {

  }
}
</script>

<template>
  <div class="form-floating">
    <input :id="name" :type="type" class="form-control" :placeholder="label"
           :value="modelValue"
           @input="$emit('update:modelValue',$event.target.value)">

    <label :for="name">{{ label }}</label>
  </div>
</template>

<style lang="scss"></style>
