<script lang="ts">
import ProductCard from '@/components/Molecules/ProductCard/ProductCard.vue'
import { ref, watch } from 'vue'
import { useCartStore } from '@/stores/cart/cart'
import type { ProductI } from '@/shared_contracts/product/product'
import { useProduct } from '@/hooks/useProducts/useProduct'
import { useCart } from '@/hooks/cart'

export default {
  components: { ProductCard },
  setup () {
    const products = ref<ProductI[]>([])
    // hookProduct
    const hookUseProduct = useProduct<ProductI[]>()
    hookUseProduct.getProducts().then(res => {
      products.value.push(...res)
    })
      .catch((e) => {
        console.log('e')
        console.log(e)
      })
    // cartStore
    const cartStore = useCartStore()
    const isLoading = ref<boolean>(cartStore.isLoadingCart)

    watch(() => cartStore.isLoadingCart, (isLoadingCart) => {
      isLoading.value = isLoadingCart
    })

    // cartHook
    const cartHook = useCart()
    const addProduct = async (productSku: string) => {
      isLoading.value = true
      const response = await cartHook.addToCart({ productSku, quantity: 1 })
      isLoading.value = false
      return response
    }
    return { products, addProduct, isLoading }
  }
}
</script>

<template>
  <div class="container">
    <div class="row">
      <h1 class="col-12 my-5 text-center">Product List</h1>

      <div v-for="product of products" :key="product.sku" class="col-6 col-md-4 col-lg-3 mt-5">
        <ProductCard v-bind="{...product}" :cbAddProduct="addProduct" :disabled="isLoading" />
      </div>
    </div>
  </div>
</template>
