<script lang="ts">
import CartIcon from '@/components/icons/CartIcon.vue'
import UserIcon from '@/components/icons/UserIcon.vue'
import { onMounted, reactive } from 'vue'
import LoadingIcon from '@/components/icons/LoadingIcon.vue'
import { useAuthStore } from '@/stores/auth'
import { useCartStore } from '@/stores/cart/cart'
import { DrawerRegister } from '@/components/Organisms/Drawer/Drawer.config'
import { useDrawerStore } from '@/stores/drawer/drawer'

export default {
  name: 'Navigation',
  components: { LoadingIcon, CartIcon, UserIcon },
  setup () {
    const routerLinks = reactive([
      { label: 'Home', routeName: '/' },
      { label: 'Product list', routeName: '/product-list' }
    ])

    //Auth
    const auth = useAuthStore()

    onMounted(() => {
      auth.fetchUser()
    })

    //Cart store
    const cartStore = useCartStore()

    // Drawer store
    const drawerStore = useDrawerStore()
    const openCartDrawer = () => {
      drawerStore.openDrawer(DrawerRegister.CartDrawer.name)
    }

    return { routerLinks, auth, cartStore, openCartDrawer }
  }
}
</script>

<template>
  <div class="navigation">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <router-link class="navbar-brand" to="/">
          Lama shop
        </router-link>

        <div class="navbar__link-wrapper">
        <span class="me-4">
          <LoadingIcon v-if="!auth.isUserLoggedIn" class="icon --loading" />

          <router-link v-else to="/checkout" class="navbar__user-icon-wrapper">
            <UserIcon />
          </router-link>
        </span>

          <span class="me-4">
          <LoadingIcon v-if="cartStore.isLoadingCart" class="icon --loading" />

          <button @click="openCartDrawer" v-else class="navbar__cart-icon-wrapper">
            <CartIcon />

            <span class="navbar__cart-icon-amount">
              {{ cartStore.productCartQuantity }}
            </span>
          </button>
        </span>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li v-for="(routerLink,index) of routerLinks" :key="index" class="nav-item">
              <router-link :to="routerLink.routeName" class="nav-link active" aria-current="page">
                {{ routerLink.label }}
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<style lang="scss">
.navigation {
  padding-bottom: 56px;

  .navbar {
    z-index: 1000;
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.navbar {
  &__link-wrapper {
    @media (min-width: 991px) {
      order: 1;
    }
  }

  &__cart-icon-wrapper {
    position: relative;
    padding: 0;
    border: unset;
    background-color: unset;
  }

  &__cart-icon-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 14px;
    transform: translateX(50%);
  }
}
</style>
