<script lang="ts">
import { useCartStore } from '@/stores/cart/cart'

export default {
  name: 'PaymentSummary',
  setup () {
    const cartStore = useCartStore()

    console.log(cartStore.$state.cart)

    return { cartStore }
  }
}
</script>

<template>
  <!--  Component PaymentSummary-->
  <div class="border-top col-12">
    <p class="d-flex justify-content-between pt-3">
      <span>
        Products:
      </span>

      <strong>
        {{ cartStore.productCartsTotalGross }}
      </strong>
    </p>

    <p class="d-flex justify-content-between pt-3">
      <span>Including taxes: </span>

      <span>{{ cartStore.tax }}</span>
    </p>

    <p class="d-flex justify-content-between pt-3">
      <span>Delivery: </span>

      <!--      TODO delivery-->
      <strong> - </strong>
    </p>

    <p class="border-top d-flex justify-content-between pt-3 mt-3">
      <span>
        Total:
      </span>

      <strong>
        <!--        todo -> delivery-->
        {{ cartStore.productCartsTotalGross }}
      </strong>
    </p>
  </div>
  <!--  END Component PaymentSummary-->
</template>
