<script lang="ts">
import CloseIcon from '@/components/icons/CloseIcon.vue'
import { useDrawerStore } from '@/stores/drawer/drawer'

export default {
  name: 'Drawer',
  components: { CloseIcon },
  setup () {
    const drawerStore = useDrawerStore()
    return {
      drawerStore
    }
  }
}
</script>
<template>
  <transition name="drawer">
    <div @click.self="drawerStore.closeDrawer" v-if="drawerStore.isShowDrawer" class="drawer">
      <div class="drawer__content">
        <div class="drawer__content-header">
          <h2>Cart</h2>

          <button @click="drawerStore.closeDrawer" class="drawer__content-close-drawer">
            <CloseIcon class="icon" />
          </button>
        </div>

        <div class="drawer__component-wrapper">
          <component :is="drawerStore.componentToRender"></component>
        </div>
      </div>
    </div>
  </transition>

  <transition name="drawer-backdrop">
    <div v-if="drawerStore.isShowDrawer"
         class="drawer__backdrop"></div>
  </transition>
</template>

<style lang="scss">
.drawer-backdrop-enter-active,
.drawer-backdrop-leave-active {
  transition: 0.3s;
}

.drawer-backdrop-enter-from,
.drawer-backdrop-leave-to {
  opacity: 0;
}

.drawer-enter-active,
.drawer-leave-active {
  transition: 0.3s;
}

.drawer-enter-from,
.drawer-leave-to {
  transform: translateX(100%);
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.2);
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    background-color: white;
    height: 100%;
  }

  &__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
  }

  &__content-close-drawer {
    width: 20px;
    height: 20px;
    border: unset;
    background-color: unset;
    padding: 0;
  }
}
</style>
