<script lang="ts">
export default {}
</script>
<template>
  <svg viewBox="0 0 58 63" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
       height="24" width="24" class="icon">
    <path
      d="M55.0601 16.0851H44.4391V12.7323C44.4391 5.712 38.7168 0 31.6839 0H26.3125C19.2796 0 13.5573 5.712 13.5573 12.7323V16.0851H2.93633L0 63H58L55.0637 16.0851H55.0601ZM17.5823 12.7323C17.5823 7.92817 21.4962 4.0177 26.3125 4.0177H31.6839C36.4966 4.0177 40.4142 7.9246 40.4142 12.7323V16.0851H17.5858V12.7323H17.5823ZM4.28275 58.9787L6.71779 20.1064H13.5537V25.4681H17.5823V20.1064H40.4106V25.4681H44.4391V20.1064H51.275L53.7101 58.9787H4.28275Z"
      fill="black"></path>
  </svg>
</template>
