<template>
  <svg viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M65 2.856 62.14 0 32.498 29.642 2.856 0 0 2.856l29.642 29.642L0 62.14 2.856 65l29.642-29.642L62.14 65 65 62.14 35.358 32.498 65 2.856Z"
      fill="#000" />
  </svg>
</template>
