<template>
  <svg viewBox="0 0 53 65" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M50.0808 11.7337H39.3045V8.36406C39.3045 4.27946 35.9818 0.956421 31.8976 0.956421H21.1214C17.0372 0.956421 13.7144 4.27946 13.7144 8.36406V11.7337H0.244141V15.7752H2.9382V56.8654C2.9382 60.95 6.26092 64.273 10.3451 64.273H42.6738C46.758 64.273 50.0808 60.95 50.0808 56.8654V15.7752H52.7748V11.7337H50.0808ZM17.752 8.36406C17.752 6.50677 19.2642 4.99431 21.1214 4.99431H31.8976C33.7547 4.99431 35.2669 6.50677 35.2669 8.36406V11.7337H17.7555V8.36406H17.752ZM46.0397 56.8619C46.0397 58.7192 44.5273 60.2315 42.6702 60.2315H10.3414C8.48432 60.2315 6.9721 58.7192 6.9721 56.8619V15.7716H46.036V56.8619H46.0397Z" fill="black"/>
    <path d="M17.7521 22.511H13.7109V53.4957H17.7521V22.511Z" fill="black"/>
    <path d="M28.5284 22.511H24.4873V53.4957H28.5284V22.511Z" fill="black"/>
    <path d="M39.3046 22.511H35.2637V53.4957H39.3046V22.511Z" fill="black"/>
  </svg>
</template>
