<script lang="ts">
export default {}
</script>
<template>
  <svg viewBox="0 0 63 63" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" height="24" width="24" class="icon"><path d="M56.5867 40.7513C53.0118 36.4116 48.1178 33.6627 42.2586 32.6332C46.7057 29.3338 49.5942 24.0468 49.5942 18.095C49.5942 8.11808 41.4757 0 31.4982 0C21.5207 0 13.4022 8.11808 13.4022 18.095C13.4022 24.0468 16.2907 29.3338 20.7378 32.6332C14.875 33.6627 9.98462 36.4116 6.40975 40.7513C2.21642 45.8416 0 52.8408 0 60.991V63H4.01101V60.991C4.01101 53.7845 5.90927 47.6718 9.50559 43.3071C13.3951 38.585 18.9897 36.19 26.1323 36.19H36.857C43.9995 36.19 49.5942 38.585 53.4837 43.3071C57.0764 47.6718 58.9783 53.7845 58.9783 60.991V63H63V60.991C63 52.8408 60.7836 45.8416 56.5903 40.7513H56.5867ZM17.4168 18.095C17.4168 10.3344 23.73 4.01793 31.4946 4.01793C39.2593 4.01793 45.5725 10.3308 45.5725 18.095C45.5725 25.8592 39.2593 32.172 31.4946 32.172C23.73 32.172 17.4168 25.8592 17.4168 18.095Z" fill="black"></path></svg>
</template>
