<script lang="ts">
import LoadingIcon from '@/components/icons/LoadingIcon.vue'
import { useBackdropStore } from '@/stores/backdrop'
import { computed } from 'vue'

export default {
  components: { LoadingIcon },
  setup () {
    const backdropStore = useBackdropStore()

    const isBackdrop = computed(() => backdropStore.isBackdrop)

    return {
      isBackdrop
    }
  }
}
</script>

<template>
  <div v-if="isBackdrop" class="backdrop">
    <LoadingIcon class="backdrop__loading-icon icon --loading" />
  </div>
</template>

<style lang="scss">
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);

  &__loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
