<script lang="ts">
import { RouterView } from 'vue-router'
import Navigation from '@/components/Organisms/Navigation/Navigation.vue'
import { createCart } from '@/hooks/cart'
import { onMounted } from 'vue'
import Drawer from '@/components/Organisms/Drawer/Drawer.vue'
import Backdrop from '@/components/Organisms/Backdrop/Backdrop.vue'

export default {
  name: 'App',
  components: {
    Backdrop,
    Drawer,
    Navigation,
    RouterView
  },
  setup () {
    // create Cart

    onMounted(() => {
      createCart()
    })
  }
}
</script>

<template>
  <Navigation />

  <RouterView />

  <Drawer />

  <Backdrop />
</template>
